h3 Upload To S3 Bucket
form(action='/file_uploaded', method='post', enctype='multipart/form-data')
    | Email:
    input(type='email', name='email')
    | File :
    input(type='file', name='userFile')
    input(type='submit', value='submit')